<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" ng-app="app" ng-controller="mainPageController">
<head>
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>Regular Expressions Tester</title>
    <link rel="stylesheet" href="lib/twitter-bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="lib/angular.js/angular-csp.css" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="theme.css" />
    <script type="text/javascript" src="lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="lib/angular.js/angular.js"></script>
    <script type="text/javascript" src="App/sys.js"></script>
    <script type="text/javascript" src="App/app.js"></script>
    <script type="text/javascript" src="App/regexTester.js"></script>
</head>
<body>
    <main-app-page-head></main-app-page-head>
    <section class="container-fluid" ng-controller="regexTesterController">
        <div class="row flex-nowrap">
            <section class="container-fluid col-8 col-lg-9">
                <form action="RegexTester.html" method="get">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="inputPatternTextBox" ng-show="showPatternEditControl">Regular Expression</label>
                            <span class="input-group-text text-monospace" ng-hide="showPatternEditControl">{{patternDisplayText}}</span>
                            <div class="input-group mb-3" ng-show="showPatternEditControl">
                                <div class="input-group-prepend"><div><span class="input-group-text">/</span></div></div>
                                <input type="text" class="form-control" ng-model="singleLinePattern" id="inputPatternTextBox" ng-trim="false" ng-show="showSingleLineEditControl" />
                                <textarea class="form-control" id="inputPatternTextBox" rows="{{patternLineCount}}" ng-model="multiLinePattern" ng-show="showMultiLineEditControl" ng-trim="false" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}"></textarea>
                                <div class="input-group-append">
                                    <div><span class="input-group-text text-monospace">/{{ flags }}</span></div>
                                    <div><button class="btn btn-outline-secondary btn-sm" type="button" ng-click="regexTester.setInputRowCount(true, $event)" ng-show="canAddPatternEditLine">+</button></div>
                                    <div><button class="btn btn-outline-secondary btn-sm" type="button" ng-click="regexTester.setInputRowCount(false, $event)" ng-show="canRemovePatternEditLine">-</button></div>
                                    <div><button class="btn btn-outline-secondary" type="button" ng-click="regexTester.optionsModal(true, $event)" data-toggle="tooltip" data-placement="bottom" title="Edit Options">...</button></div>
                                </div>
                            </div>
                            <div class="alert alert-danger" ng-show="hasParseError">
                                {{parseErrorMessage}}
                                <pre ng-show="hasParseErrorDetail" class="pre-scrollable">{{parseErrorDetail}}</pre>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="optionsModalLabel">Regular Expression Options</h5>
                                    <button type="button" class="close" aria-label="Close" ng-click="regexTester.optionsModal(false, $event))">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" ng-model="ignoreCaseOption" id="CheckBox">
                                                <label class="form-check-label" for="CheckBox">Ignore Case</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" ng-model="globalOption" id="CheckBox">
                                                <label class="form-check-label" for="CheckBox">Global Match</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" ng-model="multiLineOption" id="CheckBox">
                                                <label class="form-check-label" for="CheckBox">Multi-line</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" ng-model="unicodeOption" id="CheckBox">
                                                <label class="form-check-label" for="CheckBox">Unicode</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" ng-model="stickyOption" id="CheckBox">
                                                <label class="form-check-label" for="CheckBox">Sticky</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-4">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" ng-model="stripWhitespace" id="CheckBox">
                                                <label class="form-check-label" for="CheckBox">Ignore Whitespace (removes whitespace before evaluating regular expression).</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row" ng-show="isSessionInfoVisible">
                                        <div class="form-group col-12">
                                            <h3 ng-show="isSessionNameHeadingVisible">Saved sessions</h3>
                                            <div class="alert alert-info" ng-show="hasSessionLoadMessage"> {{ sessionLoadMessage }}</div>
                                            <ul ng-show="hasSavedSessionNames">
                                                <li ng-repeat="i in savedNames">
                                                    &quot;{{ i }}&quot;
                                                    <button type="button" class="btn btn-primary btn-sm" ng-click="regexTester.loadSession(i, $event)">Load</button>
                                                    <button type="button" class="btn btn-primary btn-sm" ng-click="regexTester.deleteSession(i, $event)">Delete</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-1">
                                            <label for="currentSavedNameTextBox">Name</label>
                                        </div>
                                        <div class="form-group col-10">
                                            <input type="text" class="form-control" ng-model="currentSavedName" id="currentSavedNameTextBox" />
                                            <div class="alert alert-info" ng-show="hasSaveSessionMessage"> {{ sessionSaveMessage }}</div>
                                        </div>
                                        <div class="form-group col-1">
                                            <button type="button" class="btn btn-primary" ng-click="regexTester.saveSession($event)">Save</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" ng-click="regexTester.optionsModal(false, $event)">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row bg-dark text-light" ng-show="showInputItemHeading">
                        <div class="col-10 border border-light">Text</div>
                        <div class="col-2 border border-light">Status</div>
                    </div>
                    <div ng-repeat="item in regexTester.inputItems">
                        <evaluation-item index="$index" state="item.state" can-delete-current="item.canDeleteCurrent" is-current="item.isCurrent">
                            <div class="form-row" ng-hide="isCurrent">
                                <div class="col-10 border border-dark">
                                    <pre class="small pre-scrollable">{{inputText}}</pre>
                                    <pre class="small pre-scrollable" ng-show="showReplacementTextRo">{{replacementText}}</pre>
                                </div>
                                <div class="col-2 border border-dark"><!-- TODO: show status overview text --></div>
                                <div class="col-1 border border-dark">
                                    <button class="btn btn-outline-secondary btn-sm" type="button" ng-click="evaluationItem.editCurrent($event)">Edit</button>
                                    <button class="btn btn-outline-secondary btn-sm" type="button" ng-click="evaluationItem.deleteCurrent($event)" ng-show="showRowDeleteButton">Delete</button>
                                </div>
                            </div>
                            <div class="form-row" ng-show="isCurrent">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="inputTextBox{{index}}">Input Text</label>
                                        <input type="text" class="form-control" ng-model="inputText" id="inputTextBox{{index}}" ng-trim="false" />
                                    </div>
                                    <div class="form-group" ng-show="showReplacementTextBox">
                                        <label for="replacementTextBox{{index}}">Input Text</label>
                                        <input type="text" class="form-control" ng-model="replacementText" id="replacementTextBox{{index}}" ng-trim="false" />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-outline-secondary btn-sm" type="button" ng-click="evaluationItem.setReplaceMode(true, $event)" ng-show="showReplaceButton">Replace</button>
                                        <button class="btn btn-outline-secondary btn-sm" type="button" ng-click="evaluationItem.setReplaceMode(false, $event)" ng-show="showMatchButton">Match</button>
                                        <button class="btn btn-outline-secondary btn-sm" type="button" ng-click="evaluationItem.deleteCurrent($event)" ng-show="showCurrentDeleteButton">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </evaluation-item>
                    </div>
                    <div class="form-row">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary mb-2" ng-click="regexTester.addInputItem($event)">Add</button>
                        </div>
                    </div>
                </form>
            </section>
            <aside class="container-fluid col-4 col-lg-3">
                <div class="card">
                    <div class="card-header"><h4>Modules</h4></div>
                    <div class="card-body">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="DevNotes.html" class="nav-link">Development Notes</a></li>
                            <li class="nav-item"><a href="Snippets.html" class="nav-link">Code Snippets</a></li>
                            <li class="nav-item"><a href="#" class="nav-link active" onclick="return false;">Regex Tester</a></li>
                            <li class="nav-item"><a href="URIBuilder.html" class="nav-link">URI Builder</a></li>
                            <li class="nav-item"><a href="ColorEditor.html" class="nav-link">Color Editor</a></li>
                        </ul>
                        <small><a href="SiteDesignNotes.html" class="nav-link">Documentation Website Design Notes</a></small>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer class="container-fluid ">ServiceNow Installation and Implementation Documentation &copy; US Army 2019.</footer>
</body>
</html>
