/* General look and feel */
body { font-family: var(--font-family-sans-serif); }

header { background-color: lightsteelblue; }

header h1, header h2, header h3, header h4, header h5, header h6 {
    color: midnightblue;
    vertical-align: middle;
}

header h1 { font-size: 24px; }
header h2 { font-size: 22px; }
header h3 { font-size: 20px; }
header h4 { font-size: 18px; }
header h5 { font-size: 16px; }
header h6 { font-size: 14px; }

nav {
    background-color: royalblue;
    padding: 0px;
}

nav ul li a, aside ul.nav li.nav-item a {
    border: 2px outset midnightblue;
    color: yellow;
}

nav ul li a {
    background-color: midnightblue;
    margin: 0px 4px 0px 0px;
}

nav ul li a:hover, aside ul.nav li.nav-item a:hover {
    color: var(--light);
}

nav ul li a.active, aside ul.nav li.nav-item a.active {
    background-color: var(--light);
    color: midnightblue;
    font-weight: bold;
    border: 2px inset lightsteelblue;
}

aside div.card div.card-header {
    background-color: var(--dark);
    color: var(--white);
}

aside div.card div.card-body {
    background-color: lightsteelblue;
}

aside ul.nav {
    background-color: midnightblue;
}

section {
    color: var(--dark);
    border: 1px solid var(--dark);
}

footer {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

/* Table which has a field label to the left and a value to the right */

table.fieldsGrid thead th {
    vertical-align: bottom;
    text-align: center;
    padding: 0px 4px 0px 0px;
}

table.fieldsGrid tbody td { text-align: left; }

table.fieldsGrid tbody th, table.fieldsGrid tbody td {
    vertical-align: top;
    padding: 4px 4px 0px 0px;
}

table.fieldsGrid tbody th { text-align: right; white-space: nowrap; }

table.fieldsGrid, table.fieldsGrid thead th, table.fieldsGrid tbody th, table.fieldsGrid tbody td {
    margin: 0px;
    border: none;
}

table.fieldsGrid tbody td + th { padding-left: 4px; }

/* Indicates an automatically calculated value */
td.autoValue { color: var(--orange); }

.fixed-scrollable-container {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

output {
    border: 1px solid var(--dark);
    padding: 1px;
    border-radius: 4px;
}

output {
    border: 1px solid var(--dark);
    padding: 1px;
    border-radius: 4px;
}

samp {
    border: 1px solid var(--gray);
    padding: 1px;
    border-radius: 8px;
}

code {
    background-color: var(--dark);
    color: white;
    padding: 2px;
    font-family: var(--font-family-monospace);
    border-radius: 4px;
}

code.multi-line, output.multi-line, samp.multi-line {
    display: block;
    padding: 4px;
    white-space: pre;
    line-height: 100%;
}

var.targetName, samp.navPath var {
    color: darkblue;
    font-weight: bold;
    font-style: normal;
}

samp.navPath {
    border: 1px solid darkblue;
    padding: 2px;
    border-radius: 4px;
}

.cursor-copy { cursor: copy; }
.cursor-pointer { cursor: pointer; }

.codeLabel { color: sandybrown; }
.codeNumber { color: cyan; }

/* For using colors to quickly demonstrate cross-referenced information */
.referenceGroup1 { background-color: lightblue; }
.referenceGroup2 { background-color: lightgreen; }
.referenceGroup3 { background-color: bisque; }
.referenceGroup4 { background-color: lightpink; }
.referenceGroup5 { background-color: lightsalmon; }
.referenceGroup6 { background-color: yellow; }

.bg-gray { background-color:lightgray; }

.fill-blue { fill: var(--blue); }
.fill-indigo { fill: var(--indigo); }
.fill-purple { fill: var(--purple); }
.fill-pink { fill: var(--pink); }
.fill-red { fill: var(--red); }
.fill-orange { fill: var(--orange); }
.fill-yellow { fill: var(--yellow); }
.fill-green { fill: var(--green); }
.fill-teal { fill: var(--teal); }
.fill-cyan { fill: var(--cyan); }
.fill-white { fill: var(--white); }
.fill-gray { fill: var(--gray); }
.fill-gray-dark { fill: var(--gray-dark); }
.fill-primary { fill: var(--primary); }
.fill-secondary { fill: var(--secondary); }
.fill-success { fill: var(--success); }
.fill-info { fill: var(--info); }
.fill-warning { fill: var(--warning); }
.fill-danger { fill: var(--danger); }
.fill-light { fill: var(--light); }
.fill-dark { fill: var(--dark); }

.stroke-blue { stroke: var(--blue); }
.stroke-indigo { stroke: var(--indigo); }
.stroke-purple { stroke: var(--purple); }
.stroke-pink { stroke: var(--pink); }
.stroke-red { stroke: var(--red); }
.stroke-orange { stroke: var(--orange); }
.stroke-yellow { stroke: var(--yellow); }
.stroke-green { stroke: var(--green); }
.stroke-teal { stroke: var(--teal); }
.stroke-cyan { stroke: var(--cyan); }
.stroke-white { stroke: var(--white); }
.stroke-gray { stroke: var(--gray); }
.stroke-gray-dark { stroke: var(--gray-dark); }
.stroke-primary { stroke: var(--primary); }
.stroke-secondary { stroke: var(--secondary); }
.stroke-success { stroke: var(--success); }
.stroke-info { stroke: var(--info); }
.stroke-warning { stroke: var(--warning); }
.stroke-danger { stroke: var(--danger); }
.stroke-light { stroke: var(--light); }
.stroke-dark { stroke: var(--dark); }
