<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" ng-app="app">
<head>
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta name="app:pageId" content="URIBuilder" />
    <title>URI Builder</title>
    <script>
        //<![CDATA[
        var url = new URL(document.location.href);
        url.hash = "";
        url.search = "";
        var segments = url.pathname.split("/");
        var i = segments.length - 1;
        if (i > 1 && segments[i - 1].length == 0) {
            i--;
            segments.pop();
        }
        if (segments[i].match(/\.html?$/i))
            segments.pop();
        url.pathname = (segments[i].length > 0) ? segments.join("/") + "/" : segments.join("/");
        document.write('<base href="' + url.href + '" />');
            //]]>
    </script>
    <link rel="stylesheet" href="lib/twitter-bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="lib/angular.js/angular-csp.css" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="theme.css" />
    <script type="text/javascript" src="lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="lib/angular.js/angular.js"></script>
    <script type="text/javascript" src="App/sys.js"></script>
    <script type="text/javascript" src="App/app.js"></script>
    <script type="text/javascript" src="App/uriBuilder.js"></script>
</head>
<body>
    <app-content><form action="UriBuilder.html" method="get" ng-controller="uriBuilderController as uriBuilder">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><button ng-class="uriBuilder.parseUriButtonClass" ng-click="uriBuilder.isBuildUriMode = false" onclick="return false;" ng-disabled="uriBuilder.isParseUriMode">Parse</button></li>
                <li class="nav-item"><button ng-class="uriBuilder.buildUriButtonClass" ng-click="uriBuilder.isBuildUriMode = true" onclick="return false;" ng-disabled="uriBuilder.isBuildUriMode">Build</button></li>
            </ul>
        </div>
        <div class="card-body" ng-show="uriBuilder.isParseUriMode">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="inputUriTextBox" class="col-form-label-lg">URI String</label>
                    <input type="text" id="inputUriTextBox" class="form-control form-control-lg" ng-model="uriBuilder.href" />
                </div>
            </div>
            <table class="table table-striped fieldsGrid">
                <tbody>
                    <tr ng-show="uriBuilder.isAbsolute">
                        <th>Type:</th>
                        <td>Absolute</td>
                        <th><label for="parseSchemeNameRoTextBox" class="col-form-label">Scheme:</label></th>
                        <td>
                            <input type="text" id="parseSchemeNameRoTextBox" class="form-control form-control" ng-model="uriBuilder.schemeName" readonly />
                            <span class="text-info" ng-show="">{{uriBuilder.schemeDescription}}</span>
                            <div class="alert-danger" ng-show="uriBuilder.hasSchemeError">{{uriBuilder.schemeErrorMessage}}</div>
                        </td>
                    </tr>
                    <tr ng-show="uriBuilder.isRelative">
                        <th>Type:</th>
                        <td colspan="3">{{uriBuilder.uriType}}</td>
                    </tr>
                    <tr ng-show="uriBuilder.hasUserInfo">
                        <th>User Name:</th>
                        <td ng-hide="uriBuilder.hasPassword" colspan="3"><input type="text" id="parseUserNameRoTextBox" class="form-control form-control" ng-model="uriBuilder.userName" readonly /></td>
                        <td ng-show="uriBuilder.hasPassword"><input type="text" id="parseUserNameRoTextBox" class="form-control form-control" ng-model="uriBuilder.userName" readonly /></td>
                        <th ng-show="uriBuilder.hasPassword"><label for="parsePasswordRoTextBox" class="col-form-label">Password:</label></th>
                        <td ng-show="uriBuilder.hasPassword"><input type="text" id="parsePasswordRoTextBox" class="form-control form-control" ng-model="uriBuilder.password" readonly /></td>
                    </tr>
                    <tr ng-show="uriBuilder.hasAuthority">
                        <th>Host Name:</th>
                        <td><input type="text" id="parseHostNameRoTextBox" class="form-control form-control" ng-model="uriBuilder.hostName" readonly /></td>
                        <th ng-show="uriBuilder.hasPort"><label for="parsePortNumberRoTextBox" class="col-form-label">Port:</label></th>
                        <th ng-hide="uriBuilder.hasPort"><label for="parsePortNumberRoTextBox" class="col-form-label">Default Port:</label></th>
                        <td>
                            <input type="text" id="parsePortNumberRoTextBox" class="form-control form-control" ng-model="uriBuilder.portDisplayText" readonly />
                            <div class="alert-danger" ng-show="uriBuilder.hasPortError">{{uriBuilder.portErrorMessage}}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Path:</th>
                        <td colspan="3">{{uriBuilder.pathString}}</td>
                    </tr>
                    <tr ng-show="uriBuilder.hasQuery">
                        <th>Query String:</th>
                        <td colspan="3">{{uriBuilder.queryString}}</td>
                    </tr>
                    <tr ng-show="uriBuilder.hasFragment">
                        <th>Fragment:</th>
                        <td colspan="3">{{uriBuilder.fragment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-body" ng-show="uriBuilder.isBuildUriMode">

        </div>
    </div>
</form></app-content>
</body>
</html>
