<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" ng-app="app" ng-controller="mainPageController">
<head>
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>{{ pageNavigation.pageTitle }}</title>
    <link rel="stylesheet" href="lib/twitter-bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="lib/angular.js/angular-csp.css" type="text/css" />
    <link rel="stylesheet" type="text/css" media="screen" href="theme.css" />
    <script type="text/javascript" src="lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="lib/angular.js/angular.js"></script>
    <script type="text/javascript" src="App/sys.js"></script>
    <script type="text/javascript" src="App/app.js"></script>
    <script type="text/javascript" src="App/uriBuilder.js"></script>
</head>
<body>
    <main-app-page-head></main-app-page-head>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <section class="container-fluid col-8 col-lg-9" ng-controller="UriBuilderController"></section>
            <aside class="container-fluid col-4 col-lg-3">
                <div class="card">
                    <div class="card-header"><h4>Resource Pages</h4></div>
                    <div class="card-body">
                        <ul class="nav flex-column">
                            <li class="nav-item" ng-repeat="i in pageNavigation.side.items"><a ng-href="{{i.href}}" ng-class="i.class" ng-click="return i.onClick()">{{ i.linkTitle }}</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <footer class="container-fluid ">ServiceNow Installation and Implementation Documentation &copy; US Army 2019.</footer>
</body>
</html>
