<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ng="http://angularjs.org" ng-app="app" ng-controller="imageIndex">
<head>
    <meta name="viewport" content="width=1024, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>Image Catalog</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../lib/angular.js/angular-csp.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../theme.css" />
    <script type="text/javascript" src="../lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="../lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../lib/angular.js/angular.js"></script>
    <script type="text/javascript" src="../App/sys.js"></script>
    <script type="text/javascript" src="../App/app.js"></script>
    <script type="text/javascript" src="../App/ImageIndex.js"></script>
</head>
<body>
    <header class="container-fluid p-1">
        <h1>Image Catalog</h1>
    </header>
    <section class="container-fluid">
        <div class="btn-group" role="group" aria-label="Basic example" ng-hide="isTopLevel">
            <div ng-repeat="folder in breadcrumb"><button type="button" class="btn btn-outline-secondary" ng-click="folder.selectFolder($event)">{{folder.name}}</button></div>
        </div>
        <ul ng-show="hasFolders">
            <li ng-repeat="folder in subFolders">
                <button class="btn btn-outline-secondary" ng-click="folder.selectFolder($event)">{{folder.name}}</button>
                <span ng-hide="$last"> : </span>
            </li>
        </ul>
        <div class="card" ng-repeat="folder in subFolders">
            <image-list name="folder.name" folders="folder.folders" images="folder.images"></image-list>
        </div>
        <table class="table table-bordered" ng-show="hasImages">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in images">
                    <th scope="row" ng-show="image.isSpriteList" colspan="{{image.colSpan}}">
                        1: <a ng-href="image.url" target="_blank">{{image.title}}</a>
                    </th>
                    <th scope="row" ng-show="image.isImageTag">
                        2: <a ng-href="image.url" target="_blank">{{image.title}}</a>
                    </th>
                    <td>3:
                        <svg class="fill-light stroke-dark" width="{{image.thumbnailWidth}}" height="{{image.thumbnailHeight}}" ng-show="image.isSvgLink">
                            <use xlink:href="{{image.url}}"></use>
                        </svg>
                        <img ng-src="{{image.url}}" alt="Displayed Image for {{image.fileName}}" width="{{image.thumbnailWidth}}" height="{{image.thumbnailHeight}}" ng-hide="image.isSvgLink" />
                    </td>
                    <td>4: {{image.width}}</td>
                    <td>5: {{image.height}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer class="container-fluid">Generated On 2019-07-01 12:07 -04:00</footer>
</body>
</html>
